.container{
	font-family: 'Raleway', sans-serif;
	background-color: white;
	width: 80%;
	margin: 0 auto;
}
header{
	text-align: center;
	font-size: 2.5em;
}
section{
	border-top: double;
	border-bottom: double;
	border-color: grey;
	font-size: 1.35em;
	text-align: center;
}
main{
	text-align: center;
	white-space: nowrap; /*cia fixas, kad tarp article nebutu white space. Kitaip paskutini numeta i kita line, ir veikia tik su article width 24%*/
}
article h2{
	font-size: 1.8em;
}
article{
	vertical-align: top;
	display: inline-block;
	font-size: 1.2em;
	text-align: left;
	clear: none;
	width: 25%;
	white-space: normal; /*cia fixas, kad tarp article nebutu white space. Kitaip paskutini numeta i kita line, ir veikia tik su article width 24%*/
}
footer{
	text-align: center;
	margin-top: 65px;
}
footer p{
	font-size: 0.9em;
	color: grey;
}
footer p strong{ /*Strong vs span?*/
	font-size: 1.1em;
	color: black;
}